
/* benifits css */
.container {
  text-align: center;
  margin-top: 50px;
}

.benefits-title {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-icon {
  font-size: 2.5rem;
<<<<<<< HEAD
  color: #ff8c00;
=======
  color: #007bff;
>>>>>>> 83ffa8a6368381adb9245aa3bc90b4ef13661e4f
  margin-bottom: 10px;
}

.benefit-text {
  font-size: 1rem;
  font-weight: 500;
}
